[submodule "cusub_sim/uuv_simulator"]
	path = cusub_sim/uuv_simulator
	url = https://github.com/CU-Robosub/uuv_simulator

[submodule "cusub_perception/darknet_ros/darknet"]
	path = cusub_perception/darknet_ros/darknet
	url = https://github.com/pjreddie/darknet
[submodule "/home/epiphyte/sub_py2/src/cusub/cusub_documentation/themes/pytorch_sphinx_theme"]
	path = /home/epiphyte/sub_py2/src/cusub/cusub_documentation/themes/pytorch_sphinx_theme
	url = https://github.com/pytorch/pytorch_sphinx_theme.git
